<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShutdownManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ShutdownManager.Properties.Settings>
      <setting name="OnWindowClosingActiv" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisablePushMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimerRestartIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimerShutdownIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimerSleepIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DownloadIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UploadIsChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TimerHours" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TimerMinutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TimerSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ObserveTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Speed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ClockHours" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ClockMinutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ClockSeconds" serializeAs="String">
        <value>0</value>
      </setting>
    </ShutdownManager.Properties.Settings>
  </userSettings>
</configuration>